.classpath
.DS_Store
.gradle
.idea/
.ipynb_checkpoints/
.metadata/
.project
.settings/
*.dist.*
*.hprof
*.iml
*.map
bin
build
dist/
node_modules/
npm-debug.log
out
package-lock.json
src/.metadata/
src/main/webapp/dashboard-mockup/
src/main/webapp/notebooks/x2k_api_notebook-dev.ipynb
target/
