*.dist.*
*.hprof
*.iml
.DS_Store
.classpath
.gradle
.idea/
.ipynb_checkpoints/
.metadata/
.project
.settings/
bin
build
dist/
node_modules/
npm-debug.log
out
out
package-lock.json
src/.metadata/
src/main/webapp/dashboard-mockup/
target/
