.bar {
    fill: #6B9BC3;
}

.bar:hover {
    fill: brown;
}

.bar-label {
	fill: white;
	font-size: 10px;
}

.axis--x text {
    fill: black;
}

.axis--y path {
    display: none;
}

.axis--y text {
    fill: black;
}

#label {
    position: relative;
    top: 10px;
    right: -50px;
}

.selected {
	background-color: white;
}