    .bar {
        fill: steelblue;
    }

    .bar:hover {
        fill: brown;
    }

    .axis--x text {
        fill: black;
    }

    .axis--y path {
        display: none;
    }

    .axis--y text {
        fill: black;
    }

    #label {
        position: relative;
        top: 10px;
        right: -50px;
    }