
/* Scrollspy */
body {
    position: relative;
}

/* Scrollspy anchor fix */
#example,
#api,
#case-studies,
#command-line,
#datasets,
#affiliations {
	margin-top: -70px;
    padding-top: 90px;
}


/* X2K header and logo */
#logo {
    text-align: center;
	-webkit-transition: width 0.05s;
    transition: width 0.05s;
}
 
.shrink {
	height: 50px;
}

#x2k_title {
    text-align: center;
    color: #0c89e2;
    margin-top: 5px;
    font-size: 1rem;
    letter-spacing: -0.2px;
    font-family: Arial, Helvetica, sans-serif;
}

#example-link {
    font-size: 0.8rem;	
}

#citations {
    font-size: 0.8rem;
}

.col-form-label {
    font-size: 0.9rem;
}

.form-check-label {
    font-size: 0.9rem;
}

#footer {
    bottom: 0;
    color: #707070;
    height: 2rem;
    left: 0;
    position: relative;
    width:100%;
}

#ljp-table{
	font-size: 0.9rem;
	max-width: 100%;
}

th {
	vertical-align: middle;
}

table.dataTable.table-sm .sorting:before,
table.dataTable.table-sm .sorting_asc:before,
table.dataTable.table-sm .sorting_desc:before {
  top: 0px;
  right: 0.8em;
}
table.dataTable.table-sm .sorting:after,
table.dataTable.table-sm .sorting_asc:after,
table.dataTable.table-sm .sorting_desc:after {
  top: 11px;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
  right: 1em;
  content: "\25B2";
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  right: 0.8em;
  content: "\25BC";
}

a {
	outline: none;
}


/* Loader */
#loader {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 5rem;
	height: 5rem;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s
}

@-webkit-keyframes animatebottom {
	from { bottom:-100px; opacity:0 } 
	to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
	from{ bottom:-100px; opacity:0 } 
	to{ bottom:0; opacity:1 }
}

#blocker
{
	display: none;
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);
}