.node {
  fill: #555;
  stroke: #fff;
  stroke-width: 0.5px;
}

.link {
  stroke: #bbb;
  stroke-opacity: .6;
}

.label {
  pointer-events: none;
  font: 8px sans-serif;
 }
 
 #x2k-network > svg,
 #network-g2n > svg {
 height: 560px;
 }