.nav {
	/*font-size: 1rem;*/
}

.nav-item {
    /*margin-top: unset;*/
	margin-top: 0.25rem;
}

#genelist {
    font-size: 1rem;
    border: 1px solid rgba(0,0,0,.15);
}

.caption {
	text-align: center;
    color: #0c89e2;
    margin-top: 5px;
    font-size: 1rem;
    letter-spacing: -0.2px;
    font-family: Arial, Helvetica, sans-serif;
}