.buttons-panel {
	
}

#buttons-panel {
/* 	position: fixed;
	width: 160px;
	height: 640px;
	margin-left: -320px;
	bottom: 0px;
	right: 25%;
	left: 50%;
 */}

#x2k-button,
#chea-button,
#g2n-button,
#kea-button
{
	position: relative;
	display: inline-block;
	float: left;
	width: 150px;
	height: 150px;
	font-weight: bold;
	color: #000000;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 36px;
	line-height: 1.25;
	margin-top: 0;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.15);
}

button.selected {
	background-color: #a0a0a0;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.0);
}

#results {
	display: table;
}

#chea-table,
#kea-table
{
 	border-collapse: collapse;
	/* border: none; */
	width: 1024px;
	height: 450px;
}


#data_table {
	text-align: center;
}

th {
	border-bottom: 1px solid #dddddd;
	padding-bottom: 5px;
	padding-top: 5px;
}

td
{
    text-align: left;
}

td + td {
	border-bottom: 1px solid #dddddd;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-top: 5px;
	text-align: right;
}

#download-button{
    background-color: #fff;
    border: 1px solid #777;
    border-radius: 15px;
    cursor: pointer;
    font-size: 0.8em;
}