body {
	font-family: arial, sans-serif;
	font-size: 13px;
}

#page {
	margin: 20px auto;
	padding: 20px;
	width: 100%;
	height: 100%;
}

#logo {
  display: table;
  margin: 0 auto;
}

#logo a {
	display: inline-block;
	margin-left: 100px;
}

#logo a img {
	width: 200px;
	cursor: pointer;
}

#x2k_title {
    text-align: center;
    color: #0c89e2;
    margin-top: 5px;
    font-size: 1.23em;
    letter-spacing: -0.2px;
    font-family: Arial, Helvetica, sans-serif;
}

.desc{
	margin: 10px;
}
/* Overwriting jQuery style*/

.ui-state-active{
	border: 1px solid #c5c5c5 !important;
	border-bottom: 1px solid #fff !important;
	background: #fff !important;
	
}

.ui-widget-header {
	border: none !important;
    border-bottom: 1px solid #dddddd !important;
    background: #fff !important;
}

#ui-id-1,
#ui-id-2,
#ui-id-3,
#ui-id-4,
#ui-id-5,
#ui-id-6{
	color: #000 !important;
}

#buttons-panel{
	float: left;
	/* width: 150%; */
	width:140px;
}


#x2k-button,
#chea-button,
#g2n-button,
#kea-button
{
	position: relative;
	display: inline-block;
	float: left;
	width: 100%;
	height: 140px;
	color: #000000;
	margin-right: 5px;
	margin-bottom: 5px;
	font-size: 2.15em;
	line-height: 1.25;
	margin-top: 0;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.15);
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 2px;
    cursor: pointer;	
}

#results-panel{
	/* float: left; */
}

button.selected {
	background-color:  #a0a0a0;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.0);
}

#results {
	display: table;
	width: 80%;
	height: 100%;
}

#legend {
	height: 90px;
	padding: 5px;
	top: 0;
}

#legend-dot{
	margin-right: 10px;
}

.no_bullet{
	list-style-type: none;
}

#chea-table,
#kea-table
{
 	border-collapse: collapse;
	border: none;
	width: 100%;
	height: 100%;
}


/* #res_layout_table{
	background-color: #fff;
	width: 100%;
	height: 100%;
	display:flex;
} */

/* #data_table {
	text-align: center;
}

th {
	border-bottom: 1px solid #dddddd;
	background-color: #fff;
	padding-bottom: 5px;
	padding-top: 5px;
}

tr:nth-child(odd) {
	background-color: #f1f1f1;
}

td
{
    text-align: left;
    padding-left: 5px;
}

td + td {
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 5px;
	padding-top: 5px;
	text-align: right;
} */

#download-button{
    background-color: #fff;
    border: 1px solid #777;
    border-radius: 15px;
    cursor: pointer;
    font-size: 0.8em;
    margin-top: 10px;
}

#footer > p{
	margin-bottom: 10px;
}

#footer {
	clear: both;
	width: 79%;
  	margin: 0 auto;
	margin-top: 20px;
}

#footer h3 {
	margin: 10px 0 5px 0;
}

/* network */

.nodes circle {
  stroke: #fff;
  stroke-width: 1px;
  stroke-opacity: 0.6;
}

.links line:hover{
  stroke: red;
  stroke-width: 3px;
  stroke-opacity: 1;
} 

.nodes text {
  pointer-events: none;
/*  font: 0.6em sans-serif;*/
  opacity: 0.7;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: 12px;
  padding: 2px;
  margin-top: -10px;
  font: 10px sans-serif;
  background: #aaa;
  border: 1px solid #aaa;
  border-radius: 3px;
  opacity: 0.8;
  pointer-events: none;
}