{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["> 5%"]
            },
            "loose": true
        }]
    ],
    "plugins": ["transform-remove-strict-mode"]
}